{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>

			<div class="col-md-6">
				<form method="POST" enctype="multipart/form-data", action="predictImage">
				{% csrf_token %}
					<div class="form-group">
						<label for="imageFile"><h3>Upload Image File Here</h3></label>
						<input type="file" class="form-control" name = "filePath" />
					</div>
					<br>
					<button type="submit" class="btn btn-success">Submit</button>
				</form>
			</div>

			<div class="col-md-3"></div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2"></div>

			<div class="col-md-8">
			<!-- Diaplay the image-->
				{% if filePathName %}
					<h4>The classification of the image is <i> {{ predictedLabel }} </i> </h4> 
					<img src={{filePathName}} class="img-fluid" alt="Responsive image">
				{% endif %}
			</div>
			
			<div class="col-md-2"></div>
		</div>
	</div>
	
	<br>
{% endblock %}